body header{ 
    display:grid;
    width: 1103.41em;
    height: 29.46px;
    top:35.02px;
    left:171.59px;
}

header main section{
    background-image: url("C:\Users\zezos\OneDrive\سطح المكتب\alx_html_css\CSS Advanced\Object.png");
}