body header{ 
    width: 1103.41em;px;
    height: 29.46px;
    top:35.02px;
    left:171.59px;
}

header main section{
    background-image: "C:\Users\zezos\OneDrive\سطح المكتب\alx_html_css\CSS Advanced\Object.png";
}